@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    background-color: #20243c;
}

.header{
    background-color: black;
    padding: 15px 0;
    color: white;
}

.header-menu{
    display: flex;
    justify-content: space-between;
}

.header img{
    max-width: 150px;
}

.login-main{
    margin-top: -50px;
}

.nav-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-header a{
    color: white;
    text-decoration: none;
}

.nav-header a:hover{
    color: #1fb71a;
}

.nav-header img{
    border-radius: 50%;
    max-width: 50px;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.login-main{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.section-one{
    background-color: rgb(27, 27, 27);
}

.section-one img{
    border-radius: 50%;
    max-width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

label{
    font-size: small;
    padding-top: 15px;
}

i{
    color: white;
}

.section-one ul{
    padding: 0;
}

.section-one ul li{
    list-style: none;
}

.section-one a{
    padding-left: 60px;
    display: block;
    color: gray;
    text-decoration: none;
    margin: 30px 0;
    padding: 10px 0 10px 30px;
}

i{
    position: absolute;
    padding: 15px;
}

.section-one a:hover{
    border-left: 5px solid  #81b71a;
    color: white;

}

.section-two{
    background-color: white;
    color: black;
    padding: 60px 30px;
}

.date-form{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-form{
    margin: 10px 20px;
    gap: 10px;
}

.btn{
    border-radius: 25px;
    padding: 10px 25px;
}